---
import Links from './Links.astro';
const links= [
    {url: '/', page: 'Accueil'},
    {url: '/about/', page: 'À propos de moi'},
    {url: '/blog/', page: 'Blog'},
]
---

<div class="nav-links">
    {links.map((link) =>
        <Links url={link.url}  page={link.page}/>
    )}
</div>

<!-- <a href="/">Accueil</a>
<a href="/about/">Á propos de moi</a>
<a href="/blog/">Blog</a> -->
<style></style>